body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body.container-fluid {
  max-width: 1310px;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  width: 92%;
  background-color: #fff;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER AND NAV */

header {
  font-family: Arial, Helvetica, sans-serif;
}

.header-top {
  position: relative;
}

.header-bottom {
  position: absolute;
  bottom: 75px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  z-index: 999;
}

.header-bottom-left {
  left: 50px;
}

.header-bottom-right {
  right: 20px;
  font-weight: bold;
}

.subscribe-btn-header {
  background-color: #fff;
  color: red;
  font-weight: bold;
  margin: 0 10px;
  padding: 3px 8px;
  line-height: 1.2em;
  border: none;
}

.hidden-lg {
  display: none;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.nav-item {
  font-size: 18px;
  font-weight: bold;
  border-right: 1px solid rgb(230, 230, 230);
  padding: 0 10px;
}

.search-btn {
  border: none;
  color: rgb(131, 131, 131);
}

main.container-fluid {
  width: 95vw;
}

.img-fluid {
  width: 100vw;
  height: auto;
}

.img-thumbnail {
  border: none;
}

.navbar-brand {
  width: 100%;
  height: 95px;
  overflow: hidden;
  background-color: red;
}

.navbar-brand img {
  height: 65px;
  margin-top: 10px;
}

/* main  */

div.left, div.right, div.middle {
  border: 2px solid red;
  height: 200px;
}

div.left {
  width: 30%;
}

div.middle {
  width: 40%;
}

div.right {
  width: 30%;
}



/* FEATURED STORY & TOP STORY */



/* FOOTER */

footer {
  padding-top: 20px;
  font-size: 14px;
  color: #666;
}

footer img.footer-logo {
  width: 200px;
}

footer ul li {
  display: inline-block;
}

.footer-second a {
  font-size: 14px;
  color: #666;
}

footer img.footer-icon {
  width: 25px;
  opacity: 0.6;
  display: inline-block;
  margin: 0 10px;
}

.list-inline-item {
  padding: 0 10px;
  line-height: 1.4em;
  font-size: 17px;
}

.footer-second .nav-item {
  padding: 5px 10px;
}

.social-media-icons {
  float: right;
}

@media only screen and (max-width: 991.98px) {
  span.date-header {
    display: none;
  }

  .header-bottom {
    top: 4px;
  }

  .hidden-lg {
    display: inline-block;
    margin-right: 10px;
    padding-top: 10px;
    opacity: 0.5;
  }

  .navbar {
    display: none;
  }

  .navbar-brand {
    height: 50px;
  }

  .navbar-brand img {
    margin-top: 14px;
    height: 35%;
    position: absolute;
    left: 20px;
    overflow: hidden;
  }
}

@media (max-width: 767.98px) {
  header {
    margin: 0 auto;
  }

  .article-stack-img-size {
    width: 45%;
  }

  .featured-story-img img {
    position: relative;
    height: 380px;
    width: 100%;
    object-fit: cover;
  }

  .magazine-img img,
  .editor-pick-img img {
    height: 380px;
    width: 100vw;
    object-fit: cover;
  }

  .subscribe-card {
    position: relative;
  }

  .subscribe-img {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-left: 25%;
  }

  .newsletter-card {
    height: auto;
    margin-bottom: 70px;
    border-bottom: 1px solid rgba(163, 163, 163, 0.5);
  }

  .newsletter-img img {
    width: inherit;
    margin-left: -15px;
    height: auto;
    object-fit: cover;
  }

  .latest-news-img {
    width: 120px;
  }

  .latest-news-child .latest-news-img img {
    display: inline;
    width: inherit;
  }

  .social-media-icons {
    float: left;
  }

  .subscribe-btn-header span {
    display: none;
  }
}
