body {
  /* margin: 0 auto; */
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER AND NAV */
header {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

.header-top {
  position: relative;
}

.header-bottom {
  position: absolute;
  bottom: 25px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}

.header-bottom-left {
  left: 20px;
}

.header-bottom-right {
  right: 20px;
  font-weight: bold;
}

.subscribe-btn-header {
  background-color: #fff;
  color: red;
  font-weight: bold;
  margin: 0 10px;
  padding: 3px 10px;
  line-height: 1.2em;
  border: none;
}

.hidden-lg {
  display: none;
}

.nav-item {
  font-size: 1em;
}

.search-btn {
  border: none;
  color: rgb(131, 131, 131);
}

main.container-fluid {
  width: 95vw;
}

.img-fluid {
  width: 100vw;
  height: auto;
}

.img-thumbnail {
  border: none;
}

.navbar-brand {
  width: 100%;
  height: 95px;
  overflow: hidden;
  background-color: red;
}

.navbar-brand img {
  height: 65px;
  margin-top: 10px;
}

.row {
  padding-bottom: 20px;
}

.card-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: rgba(3, 3, 3, 0.4);
  text-transform: uppercase;
}

.section-title::before {
  content: "";
  display: block;
  background: url("../../imgs/icon-title.png") no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  top:7px;
  right: 10px;
}

.section-title {
  color: rgba(3, 3, 3, 0.8);
  font-size: 1em;
  text-align: center;
  margin: 15px;
  border-bottom: 1px solid rgba(163, 163, 163, 0.5);
  padding-bottom: 15px;
}

.culture-category {
  position: relative;
}

.align-left {
  padding: 20px 0;
  color: red;
  font-weight: bold;
  font-size: 1.4em;
  font-family: 'Roboto Condensed', sans-serif;
}


.card-img-resize img {
  height: 160px;
  width: auto;
}

.card-deck,
.card,
.card-body {
  border: none;
}

/************************
 CHILD CONTENT SET UP 
 ************************/

/* FEATURED STORY & TOP STORY */

.featured-story-child,
.top-story {
  padding-bottom: 30px;
}

.featured-story-img,
.top-story-img,
.editor-pick-img,
.featured-slideshows-img {
  position: relative;
}

.featured-story-img img {
  position: relative;
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.featured-story-category a,
.top-story-category a,
.editor-pick-category a,
.featured-slideshows-num a {
  position: absolute;
  bottom: 0;
  padding: 8px 15px 9px;
  color: red;
  background-color: rgba(255, 255, 255, .9);
}

.fs-title,
.ts-title,
.ep-title,
.fss-title,
.usc-title,
.s-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.4em;
}

.featured-story-excerpt,
.top-story-excerpt,
.ep-pick-excerpt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  line-height: 1.3em;
}

.shrink-img img {
  width: auto;
}

.shrink-img .featured-story-category {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* CULTURE AND TRAVEL */

.culture-travel {
  background-color: #F3F5FF;
  color: #333;
  margin-bottom: 20px;
}

.ct-text-wrap {
  padding: 10px;
}

.culture-travel-excerpt {
  color: rgba(39, 39, 39, .5);
  font-size: 0.9em;
  line-height: 1.2em;
  padding-top: 10px;
}

.culture-travel-category {
  margin-top: 20px;
}

.culture-travel-category a {
  background-color: #BFD4D5;
  font-size: 0.8em;
  color: #272727;
  padding: 5px;
}

/* MORE STORIES */

.more-stories-child {
  padding-top: 10px;
}

.article-stack-img-size {
  width: 150px;
  padding: 0 10px 15px 0;
}

.article-stack-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.1em;
}

/* OPINION  */

.opinion-child>div {
  padding: 10px;
}

.opinion-author {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: bold;
  color: #555;
}

.opinion-prof img {
  height: 63px;
}

.opinion-text-wrap div {
  padding: 5px 0;
}

/* MAGAZINE  */

.magazine-recent {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: .02em;
  font-size: 1.2em;
}

.magazine-category,
.magazine-sub-category {
  padding: 3px 7px;
  font-size: .9em;
}

.magazine-category {
  background-color: red;
  margin-right: 10px;
  color: #fff;
}

.magazine-sub-category {
  color: red;
}

/* SUBSCRIBE */
.subscribe-img {
  position: relative;
}

.subscribe-img img {
  height: 220px;
  width: auto;
}

.overlay-exact {
  position: absolute;
  top: 15px;
  left: 80px;
}

.subscribe-text-wrapper {
  position: absolute;
  left: 300px;
}

/* NEWSLETTER */

.newsletter {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.newsletter-img {
  overflow: hidden;
}

.newsletter-img img {
  height: 100%;
  width: auto;
  margin-left: -120px;
  
}

/* FOOTER */
footer {
  padding-top: 20px;
}

footer.container-fluid {
  margin: 0 30px;
}

footer img.footer-logo {
  width: 200px;
}

footer ul li {
  display: inline-block;
}

footer img.footer-icon {
  width: 25px;
  opacity: 0.6;
  display: inline-block;
  margin: 0 10px;
}

.list-inline-item {
  padding: 0 10px;
  line-height: 1.4em;
  font-size: 0.9em;
}

.footer-second .nav-item {
  padding: 5px 10px;
}

  body.container-fluid {
    /* padding: 0 30%; */
    width: 80%;
  }
  
  main.container-fluid {
    width: auto;
    padding: 0 40px;
  }

@media only screen and (max-width: 991.98px) {
  span.date-header {
    display: none;
  }

  .header-bottom {
    top: 4px;
  }

  .hidden-lg {
    display: inline-block;
    margin-right: 10px;
    padding-top: 10px;
    opacity: 0.5;
  }
  
  .navbar {
    display: none;
  }
  .navbar-brand {
    height: 50px;
  }

  .navbar-brand img {
    height: 25px;
    position: absolute;
    left: 20px;
    overflow: hidden;
  }

}

@media (max-width: 767.98px) {
  .article-stack-img-size {
    width: 300px;
  }
  .featured-story-img img {
    position: relative;
    height: 380px;
    width: 100%;
    padding: 30px 0;
    object-fit: cover;
  }

  .magazine-img img, .editor-pick-img img {
    height: 380px;
    width: 100vw;
    object-fit: cover;
    padding: 30px 0 10px 0;
  }


}