body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body.container-fluid {
  max-width: 1310px;
  margin: 0 auto !important;
  padding: 0 !important;
}

main {
  margin: 0 auto !important;
  width: 92% !important;
  padding: 0 !important;
  background-color: #fff;
  padding-top: 20px !important;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER AND NAV */

header {
  font-family: Arial, Helvetica, sans-serif;
}

.header-top {
  position: relative;
}

.header-bottom {
  position: absolute;
  bottom: 25px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}

.header-bottom-left {
  left: 20px;
}

.header-bottom-right {
  right: 20px;
  font-weight: bold;
}

.subscribe-btn-header {
  background-color: #fff;
  color: red;
  font-weight: bold;
  margin: 0 10px;
  padding: 3px 10px;
  line-height: 1.2em;
  border: none;
}

.hidden-lg {
  display: none;
}

.navbar {
  background-color: #fff;
}

.nav-item {
  font-size: 18px;
}

.search-btn {
  border: none;
  color: rgb(131, 131, 131);
}

main.container-fluid {
  width: 95vw;
}

.img-fluid {
  width: 100vw;
  height: auto;
}

.img-thumbnail {
  border: none;
}

.card-body {
  text-align: center;
}

.navbar-brand {
  width: 100%;
  height: 95px;
  overflow: hidden;
  background-color: red;
}

.navbar-brand img {
  height: 65px;
  margin-top: 10px;
}

.row {
  padding-bottom: 20px;
}

.card-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: rgba(3, 3, 3, 0.4);
  text-transform: uppercase;
}

.section-title::before {
  content: "";
  background: url("../../imgs/icon-title.png") no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  top: 7px;
  right: 10px;
}

.section-title {
  color: rgba(3, 3, 3, 0.8);
  font-size: 18px;
  text-align: center;
  margin: 17px;
  border-bottom: 1px solid rgba(163, 163, 163, 0.5);
  padding-bottom: 17px;
}

.culture-category {
  position: relative;
}

.align-left {
  padding: 20px 0;
  color: red;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.card-img-resize img {
  height: 160px;
  width: auto;
}

.card-deck,
.card,
.card-body {
  border: none;
}

.card {
  border: 1px solid #e0e0e0;
}

/* FEATURED STORY & TOP STORY */

.featured-story-child,
.top-story {
  padding-bottom: 30px;
}

.featured-story-img,
.top-story-img,
.editor-pick-img,
.featured-slideshows-img {
  position: relative;
}

.featured-story-img img {
  position: relative;
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.featured-story-category a,
.top-story-category a,
.editor-pick-category a,
.featured-slideshows-num a {
  position: absolute;
  bottom: 0;
  padding: 8px 17px 9px;
  color: red;
  background-color: rgba(255, 255, 255, 0.9);
}

.fs-title,
.ts-title,
.ep-title,
.fss-title,
.usc-title,
.s-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.4em;
}

.featured-story-excerpt,
.top-story-excerpt,
.ep-pick-excerpt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.3em;
}

.shrink-img img {
  width: auto;
}

.shrink-img .featured-story-category {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* CULTURE AND TRAVEL */

.culture-travel {
  background-color: #f3f5ff;
  color: #333;
  margin-bottom: 20px;
}

.ct-text-wrap {
  padding: 10px;
}

.culture-travel-excerpt {
  color: rgba(39, 39, 39, 0.5);
  font-size: 17px;
  line-height: 1.2em;
  padding-top: 10px;
}

.culture-travel-category {
  margin-top: 20px;
}

.culture-travel-category a {
  background-color: #bfd4d5;
  font-size: 14px;
  color: #272727;
  padding: 5px;
}

/* MORE STORIES */

.more-stories-child {
  padding-top: 10px;
}

.article-stack-img-size {
  width: 150px;
  padding: 0 10px 17px 0;
}

.article-stack-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1em;
  padding-top: 6px;
  padding-bottom: 20px;
}

/* OPINION  */

.opinion-child > div {
  padding: 10px;
}

.opinion-author {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  color: #555;
}

.opinion-prof img {
  height: 63px;
}

.opinion-text-wrap div {
  padding: 5px 0;
}

/* MAGAZINE  */

.magazine-recent {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: 0.02em;
  font-size: 1.2em;
}

.magazine-category,
.magazine-sub-category {
  padding: 3px 7px;
  font-size: 17px;
}

.magazine-category {
  background-color: red;
  margin-right: 10px;
  color: #fff;
}

.magazine-sub-category {
  color: red;
}

/* SUBSCRIBE */

.subscribe .subscribe-img {
  position: relative;
}

.subscribe-card {
  background-color: #f4f5f6;
  padding-top: 20px;
  padding-left: 20px;
  border: none;
  line-height: 1.6em;
  color: #666;
}

.subscribe-img img {
  height: 220px;
  width: auto;
}

.subscribe-btn {
  margin-top: 20px;
  color: #fff;
  background-color: red;
  padding: 7px 20px;
}

.overlay-exact {
  position: absolute;
  top: 17px;
  left: 80px;
}

.subscribe-text-wrapper {
  position: absolute;
  left: 300px;
}

.subscribe-card .card-title,
.subscribe-card .card-text,
.subscribe-btn {
  text-align: left !important;
}

/* NEWSLETTER */

.newsletter-card {
  width: 100% !important;
}

.newsletter-card .card-title,
.newsletter-card .card-text,
.subscribe-btn {
  text-align: left !important;
  float: left;
}

.newsletter-row {
  padding: 0 !important;
}

.newsletter-img {
  overflow: hidden;
  margin-left: 15px;
  margin-right: -15px;
}

.newsletter-img img {
  margin-left: -120px;
  height: 105%;
  width: auto;
}

.newsletter-card .card-body {
  margin-left: 10px;
}

/* FOOTER */

footer {
  padding-top: 20px;
  font-size: 14px;
  color: #666;
}

footer.container-fluid {
  padding: 0 !important;
}

footer img.footer-logo {
  width: 200px;
}

footer ul li {
  display: inline-block;
}

.footer-second a {
  font-size: 14px;
  color: #666;
}

footer img.footer-icon {
  width: 25px;
  opacity: 0.6;
  display: inline-block;
  margin: 0 10px;
}

.list-inline-item {
  padding: 0 10px;
  line-height: 1.4em;
  font-size: 17px;
}

.footer-second .nav-item {
  padding: 5px 10px;
}

.social-media-icons {
  float: right;
}

@media only screen and (max-width: 991.98px) {
  span.date-header {
    display: none;
  }

  .header-bottom {
    top: 4px;
  }

  .hidden-lg {
    display: inline-block;
    margin-right: 10px;
    padding-top: 10px;
    opacity: 0.5;
  }

  .navbar {
    display: none;
  }

  .navbar-brand {
    height: 50px;
  }

  .navbar-brand img {
    height: 25px;
    position: absolute;
    left: 20px;
    overflow: hidden;
  }
}

@media (max-width: 767.98px) {
  header {
    margin: 0 auto;
    padding: 0 !important;
  }

  .article-stack-img-size {
    width: 300px;
  }

  .featured-story-img img {
    position: relative;
    height: 380px;
    width: 100%;
    object-fit: cover;
  }

  .magazine-img img,
  .editor-pick-img img {
    height: 380px;
    width: 100vw;
    object-fit: cover;
    padding: 30px 0 10px 0;
  }

  .subscribe-card {
    position: relative;
    width: 100vw !important;
  }

  .subscribe-img {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 0 !important;
    width: calc(100% - 160 / 2);
    left: 190px;
  }

  .newsletter-card {
    height: auto;
    width: 100% !important;
    margin-bottom: 70px;
    border-bottom: 1px solid rgba(163, 163, 163, 0.5);
  }

  .newsletter-img img {
    margin-left: 0;
    height: auto;
    width: 100vw;
    object-fit: cover;
  }

  .social-media-icons {
    float: left;
  }
}
